<div class="cards" style="margin-top: 0px;">
    <div class="card" style="margin: 30px; margin-top: 0px;">
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style = "align-self:center; margin: 10px;float: left;">{{ posts[0].get('user').get('username') }}</div>
            <div style="align-self:center; margin: 10px; float: right;"><i class="fas fa-ellipsis-h""></i></div>
        </div>
        <img src="{{ posts[0].get('image_url') }}" alt="" style="width: 100%;">
        <div>
            <div style="overflow: auto; width: calc(100% - 10px); margin: 5px;">
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-heart"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-comment-dots"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-paper-plane"></i></div>
                <div style="align-self:center; margin: 10px; float: right;"><i class="far fa-bookmark"></i></div>
            </div>
            <div style="margin: 5px;">
                <div style="font-weight: bold; margin-left: 10px;">{{ posts[0].get('likes') }} likes</div>
            </div>
            <div>
                <div style="margin: 5px 20px;">
                    <span style="font-weight: bold;">{{ posts[0].get('user').get('username') }}</span>
                    <span> {{ posts[0].get('title') }}</span>
                    <span  style="color: rgb(41, 41, 189);" tabindex="0"><a href="#">more</a></span>
                </div>
                <div>
                    <div style="margin: 5px 20px;">
                        {% if posts[0].comments|length > 0 %}
                            <a href="#">
                                &nbsp;&nbsp;View all {{ posts[0].comments|length }} comments
                            </a>
                        {% else %}
                            The post doesn't have a comment.
                        {% endif %}
                    </div>
                    <div style="margin: 5px 20px;">
                        <span style="font-weight: bold;">
                            {% if posts[0].comments|length > 0 %}
                                {{ posts[0].comments[0].get('user').get('username') }}
                            {% endif %}
                        </span>
                        <span>
                            {% if posts[0].comments|length > 0 %} 
                                {{ posts[0].comments[0].text }}
                            {% endif %}
                        </span>
                    </div>
                    <div style="margin: 5px 20px; color: rgb(196, 196, 196); font-size: small;">{{ posts[0].get('display_time').upper() }}</div>
                </div>
            </div>
        </div>
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style="float: left; display:flex;  width: 80%;">
                <div style="float: left; margin: 8px 5px;"><i class="far fa-smile"></i></div>
                <div style="float: left; width: 90%;">
                    <input type = "text" value = "Add a comment..." style="margin: 5px; width: 100%;"></input>
                </div>
            </div>
            <div style="margin: 8px;color: rgb(41, 41, 189); float: right;" tabindex="0"><a href="#">Post</a></div>
        </div>
    </div>
    
    <div class="card" style="margin: 30px; margin-top: 0px;">
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style = "align-self:center; margin: 10px;float: left;">{{ posts[1].get('user').get('username') }}</div>
            <div style="align-self:center; margin: 10px; float: right;"><i class="fas fa-ellipsis-h""></i></div>
        </div>
        <img src="{{ posts[1].get('image_url') }}" alt="" style="width: 100%;">
        <div>
            <div style="overflow: auto; width: calc(100% - 10px); margin: 5px;">
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-heart"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-comment-dots"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-paper-plane"></i></div>
                <div style="align-self:center; margin: 10px; float: right;"><i class="far fa-bookmark"></i></div>
            </div>
            <div style="margin: 5px;">
                <div style="font-weight: bold; margin-left: 10px;">{{ posts[1].get('likes') }} likes</div>
            </div>
            <div>
                <div style="margin: 5px 20px;">
                    <span style="font-weight: bold;">{{ posts[1].get('user').get('username') }}</span>
                    <span> {{ posts[1].get('title') }}</span>
                    <span  style="color: rgb(41, 41, 189);" tabindex="0"><a href="#">more</a></span>
                </div>
                <div>
                    <div style="margin: 5px 20px;">
                        {% if posts[1].comments|length > 0 %}
                            <a href="#">
                                &nbsp;&nbsp;View all {{ posts[1].comments|length }} comments
                            </a>
                        {% else %}
                            The post doesn't have a comment.
                        {% endif %}
                    </div>
                    <div style="margin: 5px 20px;">
                        <span style="font-weight: bold;">
                            {% if posts[1].comments|length > 0 %}
                                {{ posts[1].comments[0].get('user').get('username') }}
                            {% endif %}
                        </span>
                        <span>
                            {% if posts[1].comments|length > 0 %} 
                                {{ posts[1].comments[0].text }}
                            {% endif %}
                        </span>
                    </div>
                    <div style="margin: 5px 20px; color: rgb(196, 196, 196); font-size: small;">{{ posts[1].get('display_time').upper() }}</div>
                </div>
            </div>
        </div>
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style="float: left; display:flex;  width: 80%;">
                <div style="float: left; margin: 8px 5px;"><i class="far fa-smile"></i></div>
                <div style="float: left; width: 90%;"><input type = "text" value = "Add a comment..." style="margin: 5px; width: 100%;"></input></div>
            </div>
            <div style="margin: 8px;color: rgb(41, 41, 189); float: right;" tabindex="0"><a href="#">Post</a></div>
        </div>
    </div>

    <div class="card" style="margin: 30px; margin-top: 0px;">
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style = "align-self:center; margin: 10px;float: left;">{{ posts[2].get('user').get('username') }}</div>
            <div style="align-self:center; margin: 10px; float: right;"><i class="fas fa-ellipsis-h""></i></div>
        </div>
        <img src="{{ posts[2].get('image_url') }}" alt="" style="width: 100%;">
        <div>
            <div style="overflow: auto; width: calc(100% - 10px); margin: 5px;">
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-heart"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-comment-dots"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-paper-plane"></i></div>
                <div style="align-self:center; margin: 10px; float: right;"><i class="far fa-bookmark"></i></div>
            </div>
            <div style="margin: 5px;">
                <div style="font-weight: bold; margin-left: 10px;">{{ posts[2].get('likes') }} likes</div>
            </div>
            <div>
                <div style="margin: 5px 20px;">
                    <span style="font-weight: bold;">{{ posts[2].get('user').get('username') }}</span>
                    <span> {{ posts[2].get('title') }}</span>
                    <span  style="color: rgb(41, 41, 189);" tabindex="0"><a href="#">more</a></span>
                </div>
                <div>
                    <div style="margin: 5px 20px;">
                        {% if posts[2].comments|length > 0 %}
                            <a href="#">
                                &nbsp;&nbsp;View all {{ posts[2].comments|length }} comments
                            </a>
                        {% else %}
                            The post doesn't have a comment.
                        {% endif %}
                    </div>
                    <div style="margin: 5px 20px;">
                        <span style="font-weight: bold;">
                            {% if posts[2].comments|length > 0 %}
                                {{ posts[2].comments[0].get('user').get('username') }}
                            {% endif %}
                        </span>
                        <span>
                            {% if posts[2].comments|length > 0 %} 
                                {{ posts[2].comments[0].text }}
                            {% endif %}
                        </span>
                    </div>
                    <div style="margin: 5px 20px; color: rgb(196, 196, 196); font-size: small;">{{ posts[2].get('display_time').upper() }}</div>
                </div>
            </div>
        </div>
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style="float: left; display:flex;  width: 80%;">
                <div style="float: left; margin: 8px 5px;"><i class="far fa-smile"></i></div>
                <div style="float: left; width: 90%;"><input type = "text" value = "Add a comment..." style="margin: 5px; width: 100%;"></input></div>
            </div>
            <div style="margin: 8px;color: rgb(41, 41, 189); float: right;" tabindex="0"><a href="#">Post</a></div>
        </div>
    </div>

    <div class="card" style="margin: 30px; margin-top: 0px;">
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style = "align-self:center; margin: 10px;float: left;">{{ posts[3].get('user').get('username') }}</div>
            <div style="align-self:center; margin: 10px; float: right;"><i class="fas fa-ellipsis-h""></i></div>
        </div>
        <img src="{{ posts[3].get('image_url') }}" alt="" style="width: 100%;">
        <div>
            <div style="overflow: auto; width: calc(100% - 10px); margin: 5px;">
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-heart"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-comment-dots"></i></div>
                <div style="align-self:center; margin: 10px; float: left;"><i class="far fa-paper-plane"></i></div>
                <div style="align-self:center; margin: 10px; float: right;"><i class="far fa-bookmark"></i></div>
            </div>
            <div style="margin: 5px;">
                <div style="font-weight: bold; margin-left: 10px;">{{ posts[3].get('likes') }} likes</div>
            </div>
            <div>
                <div style="margin: 5px 20px;">
                    <span style="font-weight: bold;">{{ posts[3].get('user').get('username') }}</span>
                    <span> {{ posts[3].get('title') }}</span>
                    <span  style="color: rgb(41, 41, 189);" tabindex="0"><a href="#">more</a></span>
                </div>
                <div>
                    <div style="margin: 5px 20px;">
                        {% if posts[3].comments|length > 0 %}
                            <a href="#">
                                &nbsp;&nbsp;View all {{ posts[3].comments|length }} comments
                            </a>
                        {% else %}
                            The post doesn't have a comment.
                        {% endif %}
                    </div>
                    <div style="margin: 5px 20px;">
                        <span style="font-weight: bold;">
                            {% if posts[3].comments|length > 0 %}
                                {{ posts[3].comments[0].get('user').get('username') }}
                            {% endif %}
                        </span>
                        <span>
                            {% if posts[3].comments|length > 0 %} 
                                {{ posts[3].comments[0].text }}
                            {% endif %}
                        </span>
                    </div>
                    <div style="margin: 5px 20px; color: rgb(196, 196, 196); font-size: small;">{{ posts[3].get('display_time').upper() }}</div>
                </div>
            </div>
        </div>
        <div style="margin: 10px; width: calc(100% - 20px); overflow: auto;">
            <div style="float: left; display:flex;  width: 80%;">
                <div style="float: left; margin: 8px 5px;"><i class="far fa-smile"></i></div>
                <div style="float: left; width: 90%;"><input type = "text" value = "Add a comment..." style="margin: 5px; width: 100%;"></input></div>
            </div>
            <div style="margin: 8px;color: rgb(41, 41, 189); float: right;" tabindex="0"><a href="#">Post</a></div>
        </div>
    </div>
</div>