<div class="cards" style="margin-top: 55px; margin-bottom: 0px;">
    <div class = "card" style="display:flex; margin:30px;margin-bottom: 0px; ">
        <div style = "align-self:center; margin: 10px;">
            <img src="{{ stories[0].get('user').get('image_url') }}" class = "circle2" alt=""></img>
            <div class = "info" style = "color: gray; text-align: center; margin: 0px;">{{ stories[0].get('user').get('username') }}</div>
        </div>
        <div style = "align-self:center; margin: 10px;">
            <img src="{{ stories[1].get('user').get('image_url') }}" class = "circle2" alt=""></img>
            <div class = "info" style = "color: gray; text-align: center; margin: 0px;">{{ stories[1].get('user').get('username') }}</div>
        </div>
        <div style = "align-self:center; margin: 10px;">
            <img src="{{ stories[2].get('user').get('image_url') }}" class = "circle2" alt=""></img>
            <div class = "info" style = "color: gray; text-align: center; margin: 0px;">{{ stories[2].get('user').get('username') }}</div>
        </div>
        <div style = "align-self:center; margin: 10px;">
            <img src="{{ stories[3].get('user').get('image_url') }}" class = "circle2" alt=""></img>
            <div class = "info" style = "color: gray; text-align: center; margin: 0px;">{{ stories[3].get('user').get('username') }}</div>
        </div>
        <div style = "align-self:center; margin: 10px;">
            <img src="{{ stories[4].get('user').get('image_url') }}" class = "circle2" alt=""></img>
            <div class = "info" style = "color: gray; text-align: center; margin: 0px;">{{ stories[4].get('user').get('username') }}</div>
        </div>
    </div>
</div>